@import "./base.css";

#app {
  font-weight: normal;
  width: 100%;
}

a,
.green {
  text-decoration: none;
  color: rgb(0, 167, 111);
  transition: 0.4s;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

@media (hover: hover) {
  a:hover {
    color: rgb(0, 167, 111);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
